<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <header>
        <h1><a href="/">Bar Inventory</a></h1>
        <div id="link-group">
            <a href="/items">View Items</a>
            <a href="/categories">View Categories</a>
            <a href="/subcategories">View Sub Categories</a>
        </div>
    </header>
    <main>
        <form action="/subcategories" method="POST">
            <input type="text" name="name" placeholder="Name" required>
            <select id="category" name="category" required>
                <option value="" disabled selected>Category</option>
                <% categories.forEach(category => { %>
                    <option value="<%= category.name %>"><%= category.name %></option>
                <% }) %>
            </select>
            <button type="submit">Add Sub Category</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% subcategories.forEach(subcategory => { %>
                    <tr>
                        <td><%= subcategory.id %></td>
                        <td><%= subcategory.name %></td>
                        <td><%= subcategory.category %></td>
                        <td><button class="delete-btn" data-delete="subcategories" data-id="<%= subcategory.id %>"><svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>trash-can-outline</title><path d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z"></path></svg></button></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </main>
    <script src="/main.js"></script>
    <link rel="stylesheet" href="/styles.css">
</body>
</html>